In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Retirando valores nulos

In [3]:
df = pd.read_csv('Consumo_cerveja.csv')
df.isna()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
936,True,True,True,True,True,True,True
937,True,True,True,True,True,True,True
938,True,True,True,True,True,True,True
939,True,True,True,True,True,True,True
940,True,True,True,True,True,True,True

In [4]:
df = df.dropna(how='all')
df.isna().sum()

Data                           0
Temperatura Media (C)          0
Temperatura Minima (C)         0
Temperatura Maxima (C)         0
Precipitacao (mm)              0
Final de Semana                0
Consumo de cerveja (litros)    0
dtype: int64

# Deixando as Colunas de interesse

In [5]:
data = df.drop(['Data', 'Temperatura Minima (C)','Temperatura Maxima (C)','Precipitacao (mm)'], axis=1)
data

    Temperatura Media (C)  Final de Semana  Consumo de cerveja (litros)
0                    27,3              0.0                       25.461
1                   27,02              0.0                       28.972
2                   24,82              1.0                       30.814
3                   23,98              1.0                       29.799
4                   23,82              0.0                       28.900
..                    ...              ...                          ...
360                    24              1.0                       32.307
361                 22,64              0.0                       26.095
362                 21,68              0.0                       22.309
363                 21,38              0.0                       20.467
364                 24,76              0.0                       22.446

[365 rows x 3 columns]

## Transformando "," em "." para o tipo de data ser float

In [6]:
data['Temperatura Media (C)'] = data['Temperatura Media (C)'].str.replace(',', '.')
data.head()

  Temperatura Media (C)  Final de Semana  Consumo de cerveja (litros)
0                  27.3              0.0                       25.461
1                 27.02              0.0                       28.972
2                 24.82              1.0                       30.814
3                 23.98              1.0                       29.799
4                 23.82              0.0                       28.900

## Transformando os dias da semana em numeros de 1-7

In [7]:
lista = data['Final de Semana']
lista = lista.astype(int)

In [14]:
x = 0
while x <= 364:
    if lista[x] == 4:
        if lista[x+1] ==0:
            lista[x+1] = 5
        else:
            pass
    else:
        pass
    x+=1

In [16]:
data['Final de Semana'] = pd.DataFrame(lista)
data['Final de Semana'][0] = 5

C:\Users\guilh\AppData\Local\Temp\ipykernel_8236\2440638524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Final de Semana'][0] = 5

In [18]:
data['Final de Semana'] = data['Final de Semana'].astype(float)

In [19]:
data.head()

  Temperatura Media (C)  Final de Semana  Consumo de cerveja (litros)
0                  27.3              5.0                       25.461
1                 27.02              6.0                       28.972
2                 24.82              7.0                       30.814
3                 23.98              1.0                       29.799
4                 23.82              2.0                       28.900

# Normalizando dados

In [20]:
from sklearn.preprocessing import MinMaxScaler
obj_norm = MinMaxScaler().fit(data)
df_final = obj_norm.transform(data)
df_final = pd.DataFrame(df_final)
df_final.describe()

                0           1           2
count  365.000000  365.000000  365.000000
mean     0.521702    0.500457    0.468694
std      0.199255    0.333447    0.186452
min      0.000000    0.000000    0.000000
25%      0.383459    0.166667    0.324871
50%      0.531328    0.500000    0.446046
75%      0.650376    0.833333    0.605578
max      1.000000    1.000000    1.000000

# Dividindo entre variaveis de teste e de treino

In [21]:
dt_var = df_final[df_final.columns[0:-1]]
dt_res = df_final[df_final.columns[-1:]]

In [22]:
x_train, x_test, y_train, y_test = train_test_split(dt_var, dt_res, test_size= 0.3)