In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv('Consumo_cerveja.csv')
df = df.dropna(how='all')
data = df.drop(['Data', 'Temperatura Minima (C)','Temperatura Maxima (C)','Precipitacao (mm)'], axis=1)
data

    Temperatura Media (C)  Final de Semana  Consumo de cerveja (litros)
0                    27,3              0.0                       25.461
1                   27,02              0.0                       28.972
2                   24,82              1.0                       30.814
3                   23,98              1.0                       29.799
4                   23,82              0.0                       28.900
..                    ...              ...                          ...
360                    24              1.0                       32.307
361                 22,64              0.0                       26.095
362                 21,68              0.0                       22.309
363                 21,38              0.0                       20.467
364                 24,76              0.0                       22.446

[365 rows x 3 columns]

In [71]:
lista = data['Final de Semana']
lista = lista.astype(int)

### Recriei o codigo abaixo 6x para mudar os valores de 0, para valores de 1-7 baseado nos dias da semana

In [75]:
x = 0
while x <= 364:
    if lista[x] == 1:
        if lista[x+1] ==1:
            lista[x] = 7
        else:
            pass
    else:
        pass
    x+=1

In [ ]:
print(lista[0:54])

In [91]:
data['Final de Semana'] = pd.DataFrame(lista)
data['Final de Semana'][0] = 5

C:\Users\guilh\AppData\Local\Temp\ipykernel_3352\2440638524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Final de Semana'][0] = 5

In [95]:
data['Final de Semana'] = data['Final de Semana'].astype(float)
data['Temperatura Media (C)'] = data['Temperatura Media (C)'].str.replace(',', '.')
data.head()

  Temperatura Media (C)  Final de Semana  Consumo de cerveja (litros)
0                  27.3              5.0                       25.461
1                 27.02              6.0                       28.972
2                 24.82              7.0                       30.814
3                 23.98              1.0                       29.799
4                 23.82              2.0                       28.900